[user]
	name = Cristian Stefanescu
	email = me@linux365.ro
	signingkey = 2336468EEA673461
[credential]
	helper = store
[alias]
	cm = commit
	cp = cherry-pick
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	slog = log --oneline --abbrev-commit --graph --decorate
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	llg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --numstat
	lls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --stat
	ll = log --pretty=format:%C(yellow)%h%C(auto)%d\\ %Creset%s%Cblue\\ [%cn] --decorate --numstat
	ld = log --pretty=format:%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=short --graph
	ls = log --pretty=format:%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn] --decorate --date=relative
[pull]
	rebase = true
[push]
#	default = current
[help]
	autocorrect = 1
[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	showbranch = 3
[color "status"]
	branch = green
	nobranch = red
	header =
	added = green
	changed = cyan
	untracked = cyan
	updated = yellow
[color "branch"]
	local = cyan
	remote = yellow
	current = ul
[color "decorate"]

[core]
	autocrlf = input
[push]
	default = current
[includeIf "gitdir:~/wk/"]
	path = ~/.gitconfig.wk
[commit]
	gpgsign = true
